{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
<<<<<<<< HEAD:src/layout/basic.hbs
      {{page.title}}
========
      Program page
>>>>>>>> c78af5e77539c1caf33ddb2a939ccd3e3bbfc26b:src/layout/program.hbs
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}

    {{{body}}}

  </body>

</html>